{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock title %}
{% block style %}
    #newsSection,#navArea {
        display:none;

    }
    .forgot-password{
        font-size:1.7rem;

    }

    .forgot-password:hover{
        color:#0088FFF2;
        text-decoration: #0000A0FF;
        text-decoration: underline;
    }

    #forgot-section{
        text-align:center;
        margin:5%;
        font-size:1.4rem;
        color:#6D6D75FF;

    }
{% endblock style %}


{% block content %}

   <div class="container" style="justify-content: center;margin-top: 30vh;width: 40%;margin-bottom: 12vh;">
   {% if form.errors %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
            <p>Password mismatch or simple password</p>
    </div>

{% endif %}
       <form action="" method="post">{% csrf_token %}
           {% for field in form  %}
                <input type="password" name="{{ field.name}}" placeholder="{{ field.label }}" class="form-control">
               <br>
           {% endfor %}
        <button style="height: 40px;width: 40%;border-radius: 5px;" class="btn btn-primary" type="submit">Change Password</button>
    </form>
   </div>

{% endblock content %}