{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock title %}
{% block style %}
    #newsSection,#navArea {
        display:none;

    }
    .forgot-password{
        font-size:1.7rem;

    }

    .forgot-password:hover{
        color:#0088FFF2;
        text-decoration: #0000A0FF;
        text-decoration: underline;
    }

    #forgot-section{
        text-align:center;
        margin:5%;
        font-size:1.4rem;
        color:#6D6D75FF;

    }
{% endblock style %}


{% block content %}
   <div class="container" style="margin-top: 35vh;width: 50%;margin-bottom: 12vh;">
       <h2>Password Change Complete</h2>
       <br>
       <p style="font-size: 1.7rem;"><a href="{% url 'login' %}">Login</a></p>
    </form>
   </div>
{% endblock content %}