{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock title %}
{% block style %}
    #newsSection,#navArea {
        display:none;

    }
    .forgot-password{
        font-size:1.7rem;

    }

    .forgot-password:hover{
        color:#0088FFF2;
        text-decoration: #0000A0FF;
        text-decoration: underline;
    }

    #forgot-section{
        text-align:center;
        margin:5%;
        font-size:1.4rem;
        color:#6D6D75FF;

    }
{% endblock style %}


{% block content %}
   <div class="container" style="text-align:center;margin-top: 35vh;width: 40%;margin-bottom: 12vh;">
       <form action="" method="post">{% csrf_token %}
           {% for field in form  %}
                <input type="email" name="{{ field.name}}" placeholder="Email" class="form-control">
           {% endfor %}
           <br>
        <button style="height: 40px;width: 40%;border-radius: 5px;" class="btn btn-primary" type="submit">Reset My password</button>
    </form>
   </div>
{% endblock content %}