{% extends 'base.html'%}
{% load static %}
{% load hitcount_tags %}
{% block title %}
    {{ category|capfirst }}
{% endblock title %}

{% block content %}
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="fashion_technology_area">
                        <div class="fashion">
                            <div class="single_post_content">
{#                                <h2><span>Sports</span></h2>#}
                                <ul class="spost_nav">
                                    {% for news in news_list %}
                                    {% if forloop.counter < category_counter %}
                                        <li>
                                        <div class="media wow fadeInDown"><a href="{{news.get_absolute_url}}"
                                                                             class="media-left"> <img alt=""
                                                                                                      src="{{ news.image.url}}">
                                        </a>
                                            <div class="media-body"><a href="{{news.get_absolute_url}}" class="catg_title">
                                                {{ news.title}}</a>
                                            <p ><i class="fa-regular fa-eye"></i>&nbsp;{% get_hit_count for news %}</p>
                                            </div>
                                        </div>
                                    </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
{#                                <h2><span>Technology</span></h2>#}
                                <ul class="spost_nav">
                                    {% for news in news_list %}
                                    {% if forloop.counter >= category_counter %}
                                        <li>
                                        <div class="media wow fadeInDown"><a href="{{news.get_absolute_url}}"
                                                                             class="media-left"> <img alt=""
                                                                                                      src="{{ news.image.url }}">
                                        </a>
                                            <div class="media-body"><a href="{{news.get_absolute_url}}" class="catg_title">
                                                {{ news.title}}</a>
                                            <p ><i class="fa-regular fa-eye"></i>&nbsp;{% get_hit_count for news %}</p>
                                            </div>
                                        </div>
                                    </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Popular Post</span></h2>
                        <ul class="spost_nav">
                            {% for news in sliders %}
                            <li>
                                <div class="media wow fadeInDown"><a href="{{news.get_absolute_url}}" class="media-left">
                                    <img alt="" src="{{ news.image.url }}"> </a>
                                    <div class="media-body"><a href="{{news.get_absolute_url}}" class="catg_title">
                                        {{ news.title}}</a>
                                    <p ><i class="fa-regular fa-eye"></i>&nbsp;{% get_hit_count for news %}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single_sidebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Category</a></li>
                            <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Video</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab"
                                                       data-toggle="tab">Comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="category">
                                <ul>
                                    {% for category in category_list %}
                                        <li class="cat-item"><a
                                                href="{% url 'category-news' category.name %}">{{ category.name|capfirst }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="video">
                                <div class="vide_area">
                                    <iframe width="100%" height="250"
                                            src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="comments">
                                <ul class="spost_nav">
                                    {% for review in reviews_all %}
                                        <li>
                                            <div class="media wow fadeInDown"><a
                                                    href="{% url 'user-profile' review.user.username %}"
                                                    class="media-left">
                                                <img class="img-rounded" alt=""
                                                     src="{{ review.user.profile.profile_image.url }}"> </a>
                                                <div class="media-body"><a class="primary"
                                                                           href="{% url 'user-profile' review.user.username %}">{{ review.user.username }}:</a><a
                                                        href="" class="catg_title">

                                                    <p
                                                            style="font-size: 1.3rem;display: inline-block">
                                                        "{{ review.body|truncatechars:100 }}"</p>
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img src="{% static 'images/swansway-motor-group-O6Oe_Bok_2I-unsplash (1).jpg ' %}" alt=""></a></div>
{#                    <div class="single_sidebar wow fadeInDown">#}
{#                        <h2><span>Category Archive</span></h2>#}
{#                        <select class="catgArchive">#}
{#                            <option>Select Category</option>#}
{#                            {% for category in category_list %}#}
{#                            <option>{{ category.name}}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="single_sidebar wow fadeInDown">#}
{#                        <h2><span>Links</span></h2>#}
{#                        <ul>#}
{#                            <li><a href="#">Blog</a></li>#}
{#                            <li><a href="#">Rss Feed</a></li>#}
{#                            <li><a href="#">Login</a></li>#}
{#                            <li><a href="#">Life &amp; Style</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                </aside>
            </div>
        </div>
    </section>
{% endblock content %}
