{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}
{% block title %}
    {{ news.title }}
{% endblock title %}

{% block content %}

    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_page">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home-page' %}">Home</a></li>
                            <li><a href="{% url 'home-page' %}">News</a></li>
                            <li class="active">{{ news.category|capfirst }}</li>
                        </ol>
                        <h1>{{ news.title }}</h1>
                        <div class="post_commentbox"><a href="{% url 'user-profile' news.author.username %}"><i class="fa fa-user"></i>{{ news.author.username }}</a> <span><i
                                class="fa fa-calendar"></i>{{ news.published_time }}</span> <a
                                href="{% url 'category-news' news.category.name %}"><i
                                class="fa fa-tags"></i>{{ news.category }}</a>
                            <span style="margin-left:55%;"><i class="fa-regular fa-eye"></i>{% get_hit_count for news %}</span>
                        </div>
                        <div class="single_page_content"><img style="width:100%;height: 400px;" class="img-center"
                                                              src="{{ news.image.url }}"
                                                              alt="">
                            <p>{{ news.body|linebreaks }}</p>
                            <blockquote> "There was no option to interdict just the documents and put him merely in
                                touch with counseling. There was no way to be both kind to [Chelsea] and mindful of the
                                potential for harm to people I had never known and would never know which the situation
                                posed. The reader might think there was some more moderate choice that I overlooked but
                                I looked closely, and no such choice existed," Lamo said in the interview.
                            </blockquote>
                            {#                            <ul>#}
                            {#                                #}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                                <li>Nullam vitae nibh odio, non scelerisque nibh</li>#}
                            {#                            </ul>#}
                            {#                            <h2>This is h2 title</h2>#}
                            {#                            <h3>This is h3 title</h3>#}
                            {#                            <h4>This is h4 title</h4>#}
                            {#                            <h5>This is h5 title</h5>#}
                            {#                            <h6>This is h6 Title</h6>#}
                            {% if request.user.is_authenticated and request.user.is_staff or news.author == request.user %}
                                <a href="{% url 'edit-news' news.id %}">
                                    <button class="btn btn-primary"
                                            style="border-radius: 5px;margin-left:200px;width:100px"><i
                                            style="font-size: 2rem" class="fa-solid fa-pen-to-square fa-1x"></i>&nbsp;Edit
                                    </button>
                                </a>
                                <a href="{% url 'delete-news' news.id %}">
                                    <button class="btn btn-danger"
                                            style="border-radius: 5px;margin-left:30px;width: 100px"><i
                                            style="font-size: 2rem" class="fa-solid fa-trash fa-1x"></i>&nbsp;Delete
                                    </button>
                                </a>
                            {% endif %}

                            {#                            <button class="btn btn-primary" style="border-radius: 5p/x"><i class="fa-solid fa-pen-to-square fa-beat fa-2x"></i>Blue Button</button>#}
                        </div>
                        <div class="social_link">
                            <ul class="sociallink_nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="related_post">
                            <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
                            <ul class="spost_nav wow fadeInDown animated">
                                {% for news_post in latest_news %}
                                    {% if news_post.category == news.category and news_post != news %}
                                        <li>
                                            <div class="media"><a class="media-left"
                                                                  href="{{ news_post.get_absolute_url }}"> <img
                                                    src="{{ news_post.image.url }}" alt=""> </a>
                                                <div class="media-body"><a class="catg_title"
                                                                           href="{{ news_post.get_absolute_url }}"> {{ news_post.title }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav-slit"><a class="prev" href="#"> <span class="icon-wrap"><i
                    class="fa fa-angle-left"></i></span>
                <div>
                    <h3>City Lights</h3>
                    <img src="{% static 'images/post_img1.jpg' %}" alt=""/></div>
            </a> <a class="next" href=""> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
                <div>
                    <h3>Firdavs's Business</h3>
                    <img src="{% static 'images/josh-appel-NeTPASr-bmQ-unsplash (1).jpg' %}" alt=""/></div>
            </a></nav>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Popular Post</span></h2>
                        <ul class="spost_nav">
                            {% for news in popular_posts %}
                                <li>
                                    <div class="media wow fadeInDown"><a href="{{ news.get_absolute_url }}"
                                                                         class="media-left"> <img
                                            alt="" src="{{ news.image.url }}"> </a>
                                        <div class="media-body"><a href="{{ news.get_absolute_url }}"
                                                                   class="catg_title"> {{ news.title }}</a></div>
                                        <p style="padding-top:.5rem;"><i class="fa-regular fa-eye"></i>&nbsp;{% get_hit_count for news %}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single_sidebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Category</a></li>
                            <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Video</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab"
                                                       data-toggle="tab">Comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="category">
                                <ul>
                                    {% for category in category_list %}
                                    <li class="cat-item"><a href="{% url 'category-news' category.name %}">{{ category.name|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="video">
                                <div class="vide_area">
                                    <iframe width="100%" height="250"
                                            src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="comments">
                                <ul class="spost_nav">
                                    {% if request.user.is_authenticated %}
                                        <li>
                                                <form  method="post">{% csrf_token %}
{#                                                    <input type="text" style="width: 100%;height: 6rem;" name="{{ review_form.body.name }}" placeholder="Make a review" class="form-control">#}
{#                                                    <textarea rows="3" cols="50" style="width: 100%;height: 6rem;" name="{{ review_form.body.name }}" placeholder="Make a review" class="form-control">#}
                                                    <textarea name="body" id="" cols="30" rows="2" placeholder="Make a review" class="form-control"></textarea>
                                                    <button style="border-radius: 5px;margin-top:5px;"
                                                            class="btn btn-primary" type="submit">Comment
                                                    </button>
                                                    {% if reviews_count %}
                                          <h5 class="text-muted">{{ reviews_count }} Comment{{ reviews_count|pluralize }}</h5>
                                                        {% else %}
                                                        <h5 class="text-muted">No Comment</h5>
                                                        {% endif %}
                                                </form>
                                        </li>
                                        {% else %}
                                        <li>   <a style="border-radius: 5px;margin-top:5px;width: 100%"
                                                            class="btn btn-danger" href="{% url "login" %}">Login to Make Review
                                                    </a>
                                        </li>
                                        <br>
                                    {% endif %}
                                    {% for review in reviews %}
                                        <li>
                                            <div class="media wow fadeInDown"><a
                                                    href="{% url 'user-profile' review.user.username %}"
                                                    class="media-left">
                                                <img class="img-rounded" alt=""
                                                     src="{{ review.user.profile.profile_image.url }}"> </a>
                                                <div class="media-body"><a class="primary"
                                                                           href="{% url 'user-profile' review.user.username %}">{{ review.user.username }}:</a><a
                                                        href="" class="catg_title">

                                                    <p
                                                            style="font-size: 1.3rem;display: inline-block">
                                                        "{{ review.body|truncatechars:100 }}"</p>
                                                </a></div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img src="{% static 'images/swansway-motor-group-O6Oe_Bok_2I-unsplash (1).jpg' %}" alt=""></a></div>
{#                    <div class="single_sidebar wow fadeInDown">#}
{#                        <h2><span>Category Archive</span></h2>#}
{#                        <select class="catgArchive">#}
{#                            <option>Select Category</option>#}
{#                            <option>Life styles</option>#}
{#                            <option>Sports</option>#}
{#                            <option>Technology</option>#}
{#                            <option>Treads</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="single_sidebar wow fadeInDown">#}
{#                        <h2><span>Links</span></h2>#}
{#                        <ul>#}
{#                            <li><a href="#">Blog</a></li>#}
{#                            <li><a href="#">Rss Feed</a></li>#}
{#                            <li><a href="#">Login</a></li>#}
{#                            <li><a href="#">Life &amp; Style</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                </aside>
            </div>
        </div>
    </section>

{% endblock content %}